<!DOCTYPE html>
<html>
<head lang="zh-CN">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta name="author" content="EESAST" />
    <meta name="theme" content="Live" />

    <title> 电子系学生节 Live </title>

    {% load static %}
    <link rel="stylesheet" href="{% static "css/main.css" %}">


    {% load static %}
    <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>



</head>

<body style="background: linear-gradient(to right, skyblue 5%,dodgerblue 20%)">

    <!-- banner -->
    <div id="banner">

        <div class="matrix" style="left: 15%;top: 100px;"></div>
        <div class="matrix-more" style="left: 80%;top: 100px;"></div>
        <div class="matrix-inv" style="left: 0; top: 30px"></div>
        <div class="matrix-inverse" style="left: 90%; top: 30px;"></div>

        <div class="triangleX" style="left: 50%;top: 250px;">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" height="70">
                <polygon points="70,10 40,70 70,40" style="fill:transparent;stroke:hsla(0,0%,100%,.5);stroke-width:1;fill-rule:evenodd;"></polygon>
            </svg>
        </div>

        <div class="triangleY" style="top: 20px;left: 46%">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" height="90">
                <polygon points="90,10 40,20 70,40" style="fill:transparent;stroke:hsla(0,0%,100%,.6);stroke-width:1;fill-rule:evenodd;"></polygon>
            </svg>
        </div>

        <div class="triangleYinverse" style="top:20px; left: 30%">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" height="90">
                <polygon points="90,10 40,20 70,40" style="fill:transparent;stroke:hsla(0,0%,100%,.6);stroke-width:1;fill-rule:evenodd;"></polygon>
            </svg>
        </div>

        <div class="triangleXinverse" style="left: 30%;top: 250px;">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" height="70">
                <polygon points="70,10 40,70 70,40" style="fill:transparent;stroke:hsla(0,0%,100%,.5);stroke-width:1;fill-rule:evenodd;"></polygon>
            </svg>
        </div>

        <div class="triangleZ" style="left: 10%; top: 150px">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" height="100">
                <polygon points="100,10 20,30 45,70" style="fill:transparent;stroke:hsla(0,0%,100%,.5);stroke-width:1;fill-rule:evenodd;"></polygon>
            </svg>
        </div>

        <div class="triangleZ-inverse" style="left: 80%;top: 150px;">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" height="100">
                <polygon points="100,10 20,30 45,70" style="fill:transparent;stroke:hsla(0,0%,100%,.5);stroke-width:1;fill-rule:evenodd;"></polygon>
            </svg>
        </div>

        <p class="text-before text-animate">Student Festival of Electronic Engineering</p>
        <p class="text-after text-animate-inverse"><i>———— Live With Technology</i></p>

    </div>

    <!-- video container -->
    <p class="header">清华大学电子工程系学生节直播</p>
    <!--<div id="replacement" style="width: 50%;height: 800px;background: black;margin-left: 10%;margin-bottom: 100px;"></div>-->
    <div id="video_container"></div>

    <!-- Right Column -->
    <div class="message">
        <div class="visited-box">
            <div class="single-box">
                <div class="tip-box">
                    <p>弹幕总数</p>
                </div>
                <p id="bullet-number">0</p>
            </div>
            <div class="single-box">
                <div class="tip-box">
                    <p>正在观看</p>
                </div>
                <p id="now-watching">0</p>
            </div>
            <div class="single-box">
                <div class="tip-box">
                    <p>总浏览量</p>
                </div>
                <p id="total-visited">0</p>
            </div>
        </div>

        <div id="comment-box">

            <div id="comment-area">
                <p>asdasdasdsadasdasdsadsadasdasdsadsadasdasdsadsadasdasdsadsad</p>
                <p>asdasdsadsad</p>
                <p>asdasdsadsad</p>
                <p>asdasdsadsad</p>
                <p>asdasdsadsad</p>
                <p>asdasdsadsad</p>
                <p>asdasdsadsad</p>
                <p>asdasdsadsad</p>
                <p>asdasdsadsad</p>
                <p>asdasdsadsad</p>
                <p>asdasdsadsad</p>
                <p>asdasdsadsad</p>
                <p>asdasdsadsad</p>
                <p>asdasdsadsad</p>
                <p>asdasdsadsad</p>
                <p>asdasdsadsad</p>
                <p>asdasdsadsad</p>
                <p>asdasdsadsad</p>
                <p>asdasdsadsad</p>
            </div>

            <form id="comment-input" action="" method="post">
				<img src="static/image/anonymous.png" style="width:50px;height:50px;">
				{{guest.name}}
                <textarea id="comment" placeholder="来说两句吧！"></textarea>
                <input id="submit" type="submit" value="发送">
            </form>

        </div>
    </div>
    


    <!-- Live API
     --------------------------------------------------------------------->
<script src="//qzonestyle.gtimg.cn/open/qcloud/video/live/h5/live_connect.js" charset="utf-8"></script>
<script type="text/javascript">

    var winwidth = $(window).width() * 0.5;

    var player = new qcVideo.Player("video_container", {
        "live_url":"http://5130.liveplay.myqcloud.com/5130_10d3b863a76411e69776e435c87f075e.m3u8",
        "live_url2" : "http://5130.liveplay.myqcloud.com/live/5130_10d3b863a76411e69776e435c87f075e.flv",
        "width" : winwidth,
        "height" : 700
    });


    function ba(){
        var barrage = [
            {"type":"content", "content":"hello world", "time":"1"},
            {"type":"content", "content":"居中显示", "time":"1", "style":"C64B03;30","position":"center"}
        ];
        player.addBarrage(barrage);
    }
    setTimeout(ba,1000)
</script>

    <!-- API End
----------------------------------------------------------------------------->

    {% load static %}
    <script type="text/javascript" src="{% static "js/livejs.js" %}"></script>

    <script type="text/javascript">
        window.onbeforeunload=function(event){
            var now_watching = document.getElementById("now-watching");
            var text = parseFloat(now_watching.innerText);
            now_watching.innerText=(text-1).toString();
        }
    </script>



</body>

</html>