*,*:before,*:after{
    margin: 0;
    padding: 0;
}


/*字体响应式设计*/
@media all and (min-width: 1200px){
    html{
        font-size: 16px;
        font-family: 'Microsoft Yahei',sans-serif;
    }
}
@media all and (max-width: 1199px) and (min-width: 800px){
    html{
        font-size: 14px;
        font-family: 'Microsoft Yahei', sans-serif;
    }
}
@media all and (max-width: 800px) {
    html{
        font-size: 12px;
        font-family: 'Microsoft Yahei', sans-serif;
    }
}

/*全局布局*/
body{
    position: relative;
    overflow-x: hidden;
}
.wrap{
    position: relative;
    overflow-y: hidden;
    width: 100%;
}

body::-webkit-scrollbar{
    width: .8rem;
}
body::-webkit-scrollbar-track{
    border-radius: .6em;
    background-color: rgba(0,0,0,.15);
}
body::-webkit-scrollbar-thumb{
    border-radius: .6em;
    background-color: lightskyblue;
}

/*顶部壁纸部分*/
#wall-paper{
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../image/wallp.jpg");
    width: 100%;
}

div.video_part{
    width: 90%;
    height: auto;
    margin: auto;
}
#video_container{
    display: inline-block;
    vertical-align: top;
    border-top: solid .7em rgb(92,203,222);
    border-bottom: solid 1.7em rgb(92,203,222);
}
#bullet-box{
    display: inline-block;
    vertical-align: top;
    margin-left: 8px;
    width: 28%;
}

.totalNumber{
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgb(92,203,222);
    padding: .5em 0;
    text-align: right;
}
.totalNumber > p{
    color: honeydew;
    font-size: 1.3rem;
    margin-right: .5em;
}

.bullet-main-box{
    overflow-y: scroll;
    background-color: white;
    outline: none;
    font-size: 1.2rem;
    color: rgba(0,0,0,.75);
    line-height: 1.3333;
    padding-left: 3%;
    overflow-x: hidden;
    word-break: break-all;
    box-shadow: -2px 0 2px -2px dodgerblue;
}
.bullet-main-box::-webkit-scrollbar{
    width: 1rem;
}
.bullet-main-box::-webkit-scrollbar-track{
    background-color: rgb(238,238,238);
}
.bullet-main-box::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: rgb(92,203,222);
}

.bullet-input-box{
    width: 100%;
    background-color: rgb(238,238,238);
}
#bullet-input{
    display: inline-block;
    vertical-align: top;
    font-size: 1.1rem;
    margin: 5% 0 .5em 3%;
    width: 60%;
    height: 50%;
    outline: none;
    background-color: white;
    padding: .5em;
    color: rgba(0,0,0,.7);
    border-radius: 0.5em;
    overflow-y: scroll;
    border: 1px solid;
    border-color: rgb(92,203,222);

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

#bullet-input::-webkit-scrollbar{
    width: 0.8rem;
    display: none;
}

#bullet-input:focus,
#bullet-input:hover{
    -webkit-box-shadow: inset 0 0 2px rgb(92, 203, 222);
    -moz-box-shadow: inset 0 0 2px rgb(92, 203, 222);
    box-shadow: inset 0 0 2px rgb(92, 203, 222);
}

input.bullet-submit{
    display: inline-block;
    vertical-align: top;
    outline: none;
    border: none;
    background-color: rgb(92,203,222);
    cursor: pointer;
    border-radius: .5em;
    color: whitesmoke;
    font-size: 1.4rem;
    margin: 5% 4px .5em;
    height: 64%;
    width: 23%;
    text-align: center;

    -webkit-transition: background .2s ease-out;
    -moz-transition: background .2s ease-out;
    -ms-transition: background .2s ease-out;
    -o-transition: background .2s ease-out;
    transition: background .2s ease-out;
}

input.bullet-submit:hover{
    background-color: cadetblue;
}


.comment-area{
    height: auto;
    width: 60%;
    margin-left: 5%;
    margin-top: 30px;
    border-top: 1em solid;
    border-top-color: rgb(92,203,222);
}
#comment-number{
    margin-top: .3em;
    font-size: 1.2rem;
    margin-left: 1em;
}

.separate-line{
    margin-left: 17%;
    width: 80%;
    height: 10px;
    margin-top: 50px;
    margin-bottom: 100px;
    border-bottom: .2em solid rgb(220,220,220);
}
.main-area{
    width: 100%;
    height: 160px;
    margin-top: 30px;
}
.main-area > .image-area{
    margin-left: 20px;
    display: inline-block;
    vertical-align: top;
    width: 10%;
    border-radius: 50%;
}
.comment-input{
    display: inline-block;
    position: relative;
    width: 80%;
    height: 100%;
    margin-left: 4%;

}
.comment-input > textarea {
    display: inline-block;
    vertical-align: top;
    width: 65%;
    height: 70%;
    margin: 2% 6% 7% 5%;
    padding: .5em;
    font-size: 1.2rem;
    outline: none;
    background-color: white;
    color: rgba(0,0,0,.7);
    border-radius: 0.5em;
    overflow-y: scroll;
    border: 1px solid;
    border-color: rgb(92,203,222);

    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}
.comment-input > textarea::-webkit-scrollbar{
    width: 0.8rem;
    display: none;
}
.comment-input > textarea:focus,
.comment-input > textarea:hover{
    -webkit-box-shadow: inset 0 0 2px rgb(92, 203, 222);
    -moz-box-shadow: inset 0 0 2px rgb(92, 203, 222);
    box-shadow: inset 0 0 2px rgb(92, 203, 222);
}
.comment-submit{
    display: inline-block;
    vertical-align: top;
    margin-top: 3%;
    background-color: rgb(92,203,222);
    font-size: 1.3rem;
    color: lightgoldenrodyellow;
    width: 13%;
    outline: none;
    border: none;
    border-radius: .5em;

    cursor: pointer;

    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}
.comment-submit:hover{
    background-color: darkcyan;
}

.comment-input:before{
    content: '';
    position: absolute;
    width: 0;height: 0;
    top: 20%;
    left: 0;
    border: 15px solid;
    transform: rotate(45deg);
    transform-origin: top;
}

.comment-input[data-commentOrder="0"]{
    background-color: rgb(220,220,220);
}
.comment-input[data-commentOrder="0"]:before{
    border-color: rgb(220,220,220);
}

.comment-present{
    height: 600px;
    width: 60%;
    margin-left: 5%;
    margin-top: 30px;
    overflow-y: scroll;
}
.comment-present::-webkit-scrollbar{
    width: .7rem;
}
.comment-present::-webkit-scrollbar-track{
    border-radius: .5em;
    background-color: lightblue;
}
.comment-present::-webkit-scrollbar-thumb{
    border-radius: .5em;
    background-color: lightseagreen;
}

.comment-input[data-commentOrder="1"]
{
    background-color: rgb(240,95,92);
}
.comment-input[data-commentOrder="1"]:before{
    border-color: rgb(240,95,92);
}

.comment-input[data-commentOrder="2"]{
    background-color: rgb(0,183,238);
}
.comment-input[data-commentOrder="2"]:before{
    border-color: rgb(0,183,238);
}

.comment-input[data-commentOrder="3"]{
    background-color: rgb(50,177,108);
}
.comment-input[data-commentOrder="3"]:before{
    border-color: rgb(50,177,108);
}

.comment-input[data-commentOrder="4"]{
    background-color: chocolate;
}
.comment-input[data-commentOrder="4"]:before{
    border-color: chocolate;
}

.comment-input p{
    color: rgba(0,0,0,.7);
    font-size: 1.2rem;
    margin: 1em 1.1em;
    line-height: 1.3333;
    text-align: left;
    word-break: break-all;
}


footer{
    background-color: rgb(209,224,229);
    height: 200px;
    width: 100%;
    margin-top: 100px;
}
