<!DOCTYPE html>
<html>
<head lang="zh-CN">

    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=Edge">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <meta name="author" content="EESAST">
    <meta name="HandheldFriendly" content="true">
    <meta name="description" content="EE, Live">

    <title>Main Page Demo</title>

    {% load static %}
    <script type="text/javascript" src="{% static "js/damoo.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>

</head>
<body>
	<img class="first-slide" src="{% static 'image/anonymous.png' %}" alt="First slide">

</body>
</html>

